@use "mixins" as *;

// Fonts
$font-small: 14px;
$font-base: 20px;
$font-medium: 24px;
$font-large: 32px;
$font-xlarge: 40px;
$font-xxlarge: 64px;
$font-huge: 128px;

$font-small-mobile: 12px;
$font-base-mobile: 16px;
$font-medium-mobile: 20px;
$font-large-mobile: 22px;
$font-xlarge-mobile: 28px;
$font-xxlarge-mobile: 40px;
$font-huge-mobile: 48px;

// Font family
$font-family: Inter, sans-serif;

// Colors
$color-white: #ffffff;
$color-black: #0d0d0d;
$gray-color: #d7d7d7;
$background-color: #f2f2f2;
$text-color: $color-black;
$text-color-white: $color-white;
$primary-color: #f6a319;

// Spacing
$desktop-section-padding: 3rem;
$mobile-section-padding: 1.5rem;
